{% extends '_base.html' %}

{% block extra_links %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock extra_links%}

{% block content %}

<section class="jumbotron jumbotron-fluid motivation"
  style="unicode-bidi: bidi-override !important;direction: rtl !important;text-align:right; background-image: url({{url_for('static', filename='sudanhousecv.jpeg')}})">
  <div class="container">
    <h1 class="display-3">مركز التدريب ببيت السودان فيينا</h1>
    <p class="lead" style="text-align: center;">
      مبادرة لتقديم ورش عمل و دورات تدريبة مجانية لمنسوبي الجالية السودانية بالنمسا
    </p>

  </div>
</section>

<section id="about" class="container content-section "
  style="margin-top: 30px; unicode-bidi: bidi-override !important;direction: rtl !important;text-align:right;">
  <div class="container">
    <div class="row">
      <div class="about-p">
        <p style="font-size: x-large;">
          يسرّ بيت السودان في فيينا أن يطلق مجموعة من الدورات وورش العمل المجانية المخصصة للسودانيين المقيمين في
          النمسا. تهدف هذه المبادرة إلى مساعدة الأفراد على تعزيز معارفهم ومهاراتهم، لمواكبة متطلبات
          سوق العمل والحياة اليومية في النمسا.
        </p>
      </div>
      <div class="col-xs-12 col-md-4">
        <img height="150" src="{{url_for('static', filename='img/employee.png')}}">
        <h2 class="about-title">الهدف</h2>
        <div class="about-p">
          تهدف هذه الدورات إلى تزويد السودانيين بالمعرفة والمهارات اللازمة للنجاح في النمسا. ستغطي الدورات مواضيع
          متنوعة مثل كتابة السيرة الذاتية، إجراءات الحصول على رخصة القيادة، البرمجة، والمهارات الأساسية في الحاسوب مثل
          مايكروسوفت أوفيس وغيرها.
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <img height="150" src="{{url_for('static', filename='img/together.png')}}">
        <h2 class="about-title">الرسالة</h2>
        <div class="about-p">
          نؤمن بأن التعليم والتطوير الشخصي هما مفتاح النجاح والاندماج في المجتمع. من خلال هذه الدورات، نسعى إلى تمكين
          السودانيين في النمسا وتزويدهم بالأدوات اللازمة لتحقيق أهدافهم المهنية والشخصية.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <img height="150" src="{{url_for('static', filename='img/training.png')}}">
        <h2 class="about-title">الدعوة</h2>
        <div class="about-p">
          نرحب بجميع السودانيين في النمسا للمشاركة في هذه الدورات المجانية. لا تترددوا في التسجيل والانضمام إلى مجتمعنا
          النشط والمفيد.
        </div>
      </div>
    </div>
  </div>
</section>
<section id="news" class="container content-section "
  style="margin-top: 30px; unicode-bidi: bidi-override !important;direction: rtl !important;text-align:right;">
  <div class="container">
    <div class="row">
      <h2 id="news-main-title course-city-heading">إعلانات</h2>
    </div>
    <div class="row">
      <div class="news-width">
        <h3 class="news-title">الدورات و الورش المقررة</h3>
        <div class="news-content">
          <h4 class="news-title">ورشة الذكاء الاصطناعي (AI)</h4>
          <p> انضموا للتعرف على ما هو الذكاء الاصطناعي وماهي استخدامات الذكاء الصناعي في تفاصيل الحياة اليومية والمهنية وكيف يمكن الاستفاده منه في زياده الانتاجية. ستُعقد الدورة يوم الاحد 01-12-2024 بين الساعة 16:30-18:30 في بيت السودان فيينا مع امكانية المشاركة عبر الانترنت.
          </p>
        </div>
        <div class="news-content">
          <h4 class="news-title">دورة اساسيات البرمجة 2024-2025</h4>
          <p>
            نخطط لإطلاق الدورة الأولى من دورة برمجة بايثون للمبتدئين لعام 2024-2025، والتي ستستمر لمدة 14 أسبوعًا. وهي
            موجهة للمبتدئين تمامًا دون أي خبرة سابقة في البرمجة. سنتطرق إلى أساسيات لغة بايثون، وأنواع البيانات
            والهياكل، وسنعمل على مشروعين على مدار الدورة. ستُعقد الدورة لمدة ساعتين في الأسبوع في بيت السودان فيينا مع
            امكانية المشاركة عبر الانترنت
          </p>
          <p>  إذا كنت ترغب في التسجيل، يرجى تعبئة
            <a href="https://forms.gle/kazbyy6tNCzsfqxB6" target="_blank">هذا النموذج</a>
          </p>
        </div>
      </div>
    </div>
</section>
<section id="org-team" class="container">
  <h2 class="course-city-heading">منظمو دورات التدريب</h2>
  <div class="team ">
    {% for member in team %}
    <div class="person">
      <div class="member-photo">
        <img src="{{ url_for('static', filename=member.img) }}" class="img-circle" />
      </div>
      <h5 class="member-name"><strong>{{ member.name }}</strong></h5>
      <span><em>{{ member.role }}</em></span>
      {%- if member.links %}
      <ul>
        {%- for link in member.links -%}{%- for type, url in link.items() -%}
        <li><a href="{{ url }}"><img src="{{ url_for('static', filename='img/links/{}-link.png'.format(type)) }}" /></a>
        </li>
        {%- endfor -%}{%- endfor -%}
      </ul>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <div class="text-center">
    We are a non-profit non-governmental cultural and social organization registered in Austria.
  </div>
</section>
{% endblock %}