{% extends '_base.html' %}

{% block extra_links %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock extra_links%}

{% block content %}

<section class="jumbotron jumbotron-fluid motivation"
        style="background-image: url({{url_for('static', filename='sudanhousecv.jpeg')}})">
      <div class="container">
        <h1 class="display-3">مركز التدريب ببيت السودان فيينا</h1>
        <p class="lead">
          مبادرة لتقديم ورش عمل و دورات تدريبة مجانية لمنسوبي الجالية السودانية بالنمسا
        </p>
        <p class="lead">
          الرجاء اضافة مقدمة
        </p>
      </div>
    </section>


<section id="org-team" class="container">
  <h2 class="course-city-heading">منظمي دورات التدريب</h2>
  <div class="team ">
    {% for member in team %}
    <div class="person">
      <div class="member-photo">
        <img src="{{ url_for('static', filename=member.img) }}" class="img-circle" />
      </div>
      <h5 class="member-name"><strong>{{ member.name }}</strong></h5>
      <span><em>{{ member.role }}</em></span>
      {%- if member.links %}
      <ul>
        {%- for link in member.links -%}{%- for type, url in link.items() -%}
        <li><a href="{{ url }}"><img src="{{ url_for('static', filename='img/links/{}-link.png'.format(type)) }}" /></a>
        </li>
        {%- endfor -%}{%- endfor -%}
      </ul>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <div class="text-center">
    We are a non-profit non-governmental organization registered in Austria.
  </div>
</section>
{% endblock %}
